<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Home Page</title>   
</head>
<body>
    <a href="/contact">contact page</a>
    <h1>Sup</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto aliquam molestias est itaque minima. Veniam corporis nulla amet assumenda, sint, officia, consectetur voluptatem similique magni aliquam obcaecati accusamus expedita recusandae.
    </p>
</body>
</html>